<div class="row pa-10">
    <div class="col-sm-11 col-md-11 col-xs-11 self-center text-center">
    </div>
    <div class="col-sm-1 col-md-1 col-xs-1">
        <button mat-icon-button class=" pull-right" (click)="closeDialog()">
            <mat-icon>close</mat-icon>
        </button>
    </div>
</div>
<div class="row pa-10">
    <div class="col-sm-12 col-md-12 col-xs-12 text-center fs-28">
        <span>choose one</span>
    </div>
</div>
<div class="row  justify-center xs-gutter pa-10">
    <div class="col-sm-3 col-md-3 col-xs-12 text-center">
        <button mat-button>
            <img src="../../assets/user.jpg" alt="" class="scbr-image-round">
            <p>jhone</p>
            <p class="scbr-gray">hairdresser</p>
        </button>
    </div>
    <div class="col-sm-3 col-md-3 col-xs-12 text-center self-center">
        <button mat-button>
            <img src="../../assets/user.jpg" alt="" class="scbr-image-round">
            <p>jhone</p>
            <p class="scbr-gray">hairdresser</p>
        </button>
    </div>
    <div class="col-sm-3 col-md-3 col-xs-12 text-center">
        <button mat-button>
            <img src="../../assets/user.jpg" alt="" class="scbr-image-round">
            <p>jhone</p>
            <p class="scbr-gray">hairdresser</p>
        </button>
    </div>
</div>
<div class="row justify-center pa-10">
    <div class="col-sm-8 col-md-8 colxs-12">
        <mat-list>
            <mat-list-item class="row w-100">
                <img src="../../assets/user.jpg" class="scbr-image-avt">
                <div class="col-sm-8 col-md-8 col-xs-8 self-center">
                    <h6 mat-line>Hair Wash
                        <span class="fs-12">(15m)</span>
                    </h6>
                    <p mat-line>250,-</p>
                </div>
                <div class="col-sm-2 col-md-2 col-xs-2  self-center">
                    <mat-checkbox></mat-checkbox>
                </div>
                <div class="col-sm-2 col-md-2 col-xs-2  self-center">
                    <input matInput class="scbr-input" readonly value="5">
                </div>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item class="row w-100">
                <img src="../../assets/user.jpg" class="scbr-image-avt">
                <div class="col-sm-8 col-md-8 col-xs-8 self-center">
                    <h6 mat-line>Hair Wash
                        <span class="fs-12">(15m)</span>
                    </h6>
                    <p mat-line>250,-</p>
                </div>
                <div class="col-sm-2 col-md-2 col-xs-2  self-center">
                    <mat-checkbox></mat-checkbox>
                </div>
                <div class="col-sm-2 col-md-2 col-xs-2  self-center">
                    <input matInput class="scbr-input" readonly value="5">
                </div>
            </mat-list-item>
            <mat-list-item class="row w-100">
                <div class="col-sm-12 col-md-12 col-xs-12 self-center">
                        <span class="fs-32 text-center">6total (45m)</span>
                </div>
            </mat-list-item>
            <mat-list-item class="row w-100">
                <div class="col-sm-12 col-md-12 col-xs-12 self-center">
                        <span class="fs-32 text-center">650,-</span>
                </div>
            </mat-list-item>
        </mat-list>
    </div>
</div>
<div class="row scbr-bottom">
    <div class="col sm-12 col-md-12 col-xs-12">
        <button mat-button class="text-white bg-secondary full-width">book(5)</button>
    </div>
</div>