@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import './variables.styl';
@import './angular.styl';
@font-face
  font-family Montserrat
  src url(./assets/font/MontserratAlternates-Regular.otf)
*
  font-weight 400
  font-family Montserrat
.scbr
  &-scrool
    max-height: calc(100vh - 200px);
  &-image
    width 100%
    max-height 400px
    object-fit cover
  &-image-round
    width 100px
    height 100px
    object-fit cover
    border-radius 50%
  &-image-avt
    width 50px
    height 50px
    object-fit cover
    padding-right 10px
  &-gray
    color $tertiary
  &-btn
    &-outline
      border: 1px solid $secondary !important
  &-box
    border 1px solid  $tertiary
    width 95%;
    bottom 0
    margin auto
  &-input
    width 18px
    text-align center
  &-company
    bottom 10%
    right 20px
    position absolute
    z-index 1
  &-bottom
    bottom 0px
    position absolute
    width $modalwidth
.divider
  border-bottom 1px solid $tertiary
.mat-tab-labels
  display block !important
::-webkit-scrollbar-track
	-webkit-box-shadow inset 0 0 6px rgba(0,0,0,0.3)
	background-color transparent
::-webkit-scrollbar
	width 6px
	background-color transparent
::-webkit-scrollbar-thumb
  background-color $primary
.mat-dialog-container
  padding 0px !important
