// primary colors chenge here
$primary   ?= #34aadc
$secondary ?= #4cd964
$tertiary  ?= #8e8e93

$positive  ?= #21BA45
$negative  ?= #DB2828
$info      ?= #31CCEC
$warning   ?= #F2C037
$white     ?= #fff
$light     ?= #f4f4f4
$dark      ?= #333
$faded     ?= #777
$modalwidth  ?= 70%